
/* Header */
.site-header {
    background-color: #F8EDF0;
    padding-top: 10px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__links {  
    margin-right: 39px;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 700;
    line-height: 16.41px;   
    transition: all 0.3s;
    color: #0F0101;
    opacity: 0.6;
}
.header__links:hover{
    font-size: 15px;
    font-weight: 700;
    line-height: 17.58px;
    color: var(--main-color);
}
.header__btn {
    margin-left: 132px;
    font-family: 'Hind Madurai';
    font-size: 16px;
    font-weight: 700;
    line-height: 22.08px;
    border: 2px solid #D23166;
    color: #FAFAFA;
    background-color: var(--main-color);
    padding: 14px 50px;
    border-radius: 5px;
    transition: all 0.3s;
}
.header__btn:hover{
    background-color: #FAFAFA;
    color: var(--main-color);
}