
/* hero section */
.site-hero {
    background-color: #F8EDF0;
}
.site-hero .container {
    background-image: url("../images/hero-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 597px;
}
.hero {
    padding-top: 196px;
    padding-bottom: 213px;
    
}
.hero__text-wrapper {
    width: 665px;
}
.hero__text-wrapper strong{
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
    line-height: 16.41px;
    letter-spacing: 0.1em;
    color: #0F0101;
    letter-spacing: 10%;
}
.hero__text-wrapper h2 {
    font-family: 'Fredoka';
    font-size: 57.33px;
    font-weight: 400;
    line-height: 69.08px;
    color: #0F0101;
    margin-top: 6px;
    margin-bottom: 35px;
}
.hero__text-wrapper h2 span {
    font-family: 'Fredoka';
    font-size: 57.33px;
    font-weight: 400;
    line-height: 69.08px;
    color: var(--main-color);
}
.hero__text-wrapper p {
    font-family: 'Hind Madurai';
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    opacity: 0.6;
    margin-bottom: 50px;
    color: #0F0101;
}
.hero__text-wrapper a {
    font-family: 'Hind Madurai';
    font-size: 16px;
    font-weight: 700;
    line-height: 22.08px;
    border: 2px solid #D23166;
    color: #FAFAFA;
    background-color: var(--main-color);
    padding: 16px 50px;
    border-radius: 5px;
    transition: all 0.3s;
}
.hero__text-wrapper a:hover{
    background-color: #FAFAFA;
    color: var(--main-color);
}
