.site-product {
    padding-top: 138px;
    .product {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2{
            font-family: 'Hind Madurai';
            font-size: 44.2px;
            font-weight: 600;
            line-height: 61px;   
            color: #150101;       
            margin-bottom: 64px;  
        }
        nav{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 40px;
            a{
                font-family: 'Roboto';
                font-size: 18px;
                font-weight: 500;
                line-height: 21.09px;
                color: black;
                opacity: 0.6;
                transition: all 0.3s;
                position: relative;
            }
            a::after{
                content: "";
                position: absolute;
                width: 0px;
                height: 3px;
                bottom: 0;
                right: 0;
                left: 0;    
                margin: 0 auto;
                background-color: #D64374;
                transition: all 0.3s;
            }
            a:hover {
                opacity: 1;
            }
            a:hover::after{
                width: 100%;
            }
        }
        ul{
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            width: 100%;
            li{
                display: flex;
                align-items: center;
                justify-content: space-between;
                div{
                    max-width: 454px;
                    h3{
                        color: black;
                        font-family: 'Hind Madurai';
                        font-size: 26px;
                        font-weight: 700;
                        line-height: 35.88px;
                    }
                    p{
                        font-family: 'Roboto';
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                        color: black;
                        opacity: 0.7;
                        margin-bottom: 28px;
                        margin-top: 11px;
                    }
                    div{
                        margin-bottom: 30px;
                        strong{
                            font-family: 'Hind Madurai';
                            font-size: 26px;
                            font-weight: 500;
                            line-height: 35.88px;
                            color: black;
                        }
                        strong + strong{
                            margin-left: 5px;
                            font-family: 'Hind Madurai';
                            font-size: 20px;
                            font-weight: 500;
                            line-height: 27.6px;
                            color: black;
                            opacity: 0.7;
                            text-decoration: line-through;
                        }
                    }
                    a{
                        color: #FAFAFA;
                        background-color: #D64374;
                        border-radius: 5px;
                        font-family: 'Roboto';
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 18.75px;
                        text-align: center;
                        padding: 15px 50px;
                        border: 2px solid #D23166;
                        transition: all 0.3s;
                    }
                    a:hover{
                        color: #D64374;
                        background-color: #FAFAFA;        
                    }
                }
            }
            li:nth-child(2){
                div{
                    text-align: end;
                }
            }
        }
    }
}